mixin admin-top()
  .admin-top
    .admin-avatar
      img(src="assets/images/photo.png" alt="")
    .admin-info
      .admin-name
        span Tom Mascott
      .admin-city.has-icon
        img.admin-icon(src="assets/images/place.png" alt="")
        span Manchester, USA
      .admin-money.has-icon
        img.admin-icon(src="assets/images/wallet.png" alt="")
        span 236$
