include ../top-content/top-content
include ../pagination/pagination

mixin api()
  .row.address-group
    .col-12
      h2.admin-table-title api list
      +top-content()
      .admin-content-item
        table.admin-table.admin-table-normal
          tr
            th #
            th Name
            th action
          - for (var i = 5; i < 10; i++)
            tr
              td= i
              td API_superadmin
              td
                button.btn.btn-white.mr-2.btn-table Edit
                button.btn.btn-blue.btn-table Remove
        .address-group-showing
          span Showing 1 to 9 of 9 entries
        +pagination()
