include ../top-content/top-content

mixin address-group()
  .row.address-group
    .col-12
      <h2 class="admin-table-title">GROUP list</h2>
      +top-content()
      <div class="admin-content-item">
      <table class="admin-table">
      <thead>
      <tr>
      <th>#</th>
      <th>Name</th>
      <th>description</th>
      <th>action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="admin-table-light-blue">
      <td>5</td>
      <td>superadmin</td>
      <td><a href="mailto:superadmin@ololo.com">superadmin@ololo.com</a></td>
      <td>testCompany</td>
      </tr>
      <tr>
      <td>6</td>
      <td>superadmin</td>
      <td><a href="mailto:simpleuser@ololo.com">simpleuser@ololo.com</a></td>
      <td>testCompany</td>
      </tr>
      <tr class="admin-table-light-blue">
      <td>7</td>
      <td>superadmin</td>
      <td><a href="mailto:simpleuser@ololo.com">simpleuser@ololo.com</a></td>
      <td>testCompany</td>
      </tr>
      <tr>
      <td>8</td>
      <td>superadmin</td>
      <td><a href="mailto:simpleuser@ololo.com">simpleuser@ololo.com</a></td>
      <td>testCompany</td>
      </tr>
      <tr class="admin-table-light-blue">
      <td>9</td>
      <td>superadmin</td>
      <td><a href="mailto:simpleuser@ololo.com">simpleuser@ololo.com</a></td>
      <td>testCompany</td>
      </tr>
      </tbody>
      </table>
      <div class="address-group-showing">
      <span>Showing 0 to 0 of 0 entries</span>
      </div>
      </div>
