mixin top-content()
  <div class="address-group-search mb-4 d-flex align-items-center">
  <span>Show</span>
  <select class="address-group-show js_addressGroupShow" name="show">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>10</option>
  </select>
  <span>entries</span>
  <div class="address-search d-flex align-items-center">
  <span>Search</span>
  <input type="text" name="search" placeholder="Search">
  </div>
  </div>
