include ../top-content/top-content

mixin contact-management()
  .row.address-group
    .col-12
      h2.admin-table-title Company list
      +top-content()
      .admin-content-item
        table.admin-table.admin-table-normal
          tr
            th #
            th First Name
            th Phone
            th action
          - for (var i = 5; i < 10; i++)
            tr
              td= i
              td User_Adam1
              td +7 800 324 11 88
              td
                button.btn.btn-white.mr-2.btn-table Edit
                button.btn.btn-blue.btn-table Remove
        .address-group-showing
          span Showing 1 to 9 of 9 entries
