extends ../components/layout-default/layout-default
include ../components/contact-management/contact-management

block head
  - var pageTitle = 'Contact Management';

block content
  +contact-management()
