extends ../components/layout-default/layout-default
include ../components/contact-management-add/contact-management-add

block head
  - var pageTitle = 'Contact Management Add';

block content
  +contact-management-add()
