mixin sidebar()
  .admin-sidebar-section
    .admin-sidebar
      .admin-sidebar-list
        li.admin-sidebar-item
          a(href="#")
            span.admin-icon-fix-width
              img.admin-icon(src="assets/images/videocall.png" alt="")
            span Dashboard
        li.admin-sidebar-item
          a(href="#")
            span.admin-icon-fix-width
              img.admin-icon(src="assets/images/add-contact.png" alt="")
            span Users
        li.admin-sidebar-item
          a(href="#")
            span.admin-icon-fix-width
              img.admin-icon(src="assets/images/smartphone.png" alt="")
            span Phones
        li.admin-sidebar-item.admin-sidebar-item-active
          a(href="#")
            span.admin-icon-fix-width
              img.admin-icon(src="assets/images/position.png" alt="")
            span Departments
        li.admin-sidebar-item
          a(href="#")
            span.admin-icon-fix-width
              img.admin-icon(src="assets/images/search.png" alt="")
            span Companles
        li.admin-sidebar-item
          a(href="#")
            span.admin-icon-fix-width
              img.admin-icon(src="assets/images/speaking.png" alt="")
            span Contacts management
        li.admin-sidebar-item
          a(href="#")
            span.admin-icon-fix-width
              img.admin-icon(src="assets/images/email.png" alt="")
              span.message-number 13
            span Messages
