@import "vars"

body
  margin: 0

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

img
  max-width: 100%
  width: auto
  height: auto

input
  padding: 0 35px 0 15px
  width: 245px
  height: 35px
  font-family: 'ProximaNova', sans-serif
  font-weight: 800
  font-size: 14px
  color: #354052
  border: 1px solid #ced0da
  border-radius: 5px
  outline: none

textarea
  padding: 15px
  font-size: 13px
  font-family: "Open Sans", sans-serif
  font-weight: bold
  border-radius: 5px
  resize: none
  outline: none

input:focus, input:hover
  border: 1px solid #2ea2f8 !important

.input-active
  position: relative
  width: max-content
  & input
    border: 1px solid #1bb934 !important
  &:after
    content: ''
    position: absolute
    top: 12px
    right: 12px
    width: 11px
    height: 9px
    background: url("../images/checkmark.svg") no-repeat 50% 50%

.admin
  padding: 25px 0
  font-family: $lato
  font-size: 13px
  background-color: #f1f1f1
  &-main
    display: flex
    @media (max-width: 800px)
      flex-wrap: wrap

.admin-content
  max-width: 100%
  flex-grow: 1

.select-multiple
  & .select2-container--default .select2-selection--multiple
    width: 380px
    height: 70px
    @media (max-width: 450px)
      width: auto
  & .select2-container
    margin-top: 10px
    margin-bottom: 20px
  & .select2-container--default .select2-selection--multiple .select2-selection__rendered
    padding: 0 3px
  & .select2-container--default .select2-selection--multiple .select2-selection__choice
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row-reverse
    min-width: 90px
    height: 30px
    margin-top: 3px
    margin-right: 3px
  & .select2-container--default .select2-selection--multiple .select2-selection__choice__remove
    margin-left: 10px
    font-size: 17px
  & .select2-container--default.select2-container--focus .select2-selection--multiple
    border: 1px solid #2ea2f8
    outline: none
