mixin contact-management-add()
  .row
    .col-12
      h2.admin-table-title contact form
      .group-add
        -
          var inputs = [
          'Name*',
          'Surname',
          'Phone*'
          ]
        each item in inputs
          span.add-title= item
          .input-block
            input.width100
        button.btn.btn-blue.btn-big.my-4 Send
