include ../top-content/top-content

mixin address-group-add()
  .row
    .col-12
      h2.admin-table-title group add
      +b.group-add
        +e.head
          +e('span') Choose how to create a group
          +e('hr')
          +e.head__radio-btn
            +b('input')(type='radio' name='radio' required)#radio1.radio
            +b('label')(for='radio1') Contact list
            +b('input')(type='radio' name='radio' required)#radio2.radio
            +b('label')(for='radio2') New phones
        +e.bottom
          +b.bottom-left.col-6
            +e('span') Name*
            +b.input-block
              +e('input')(type='text')
            +e('span') Description
            +b('select')(name='items' multiple='multiple').jsGroupAddMultiple
              +b('option')(value='item1') item1
              +b('option')(value='item2') item2
              +b('option')(value='item3') item3
              +b('option')(value='item4') item4
              +b('option')(value='item5') item5
              +b('option')(value='item6') item6
              +b('option')(value='item7') item7
              +b('option')(value='item8') item8
            +e('span') New phone
            +b.input-block
              +e('input')(type='text')
            +e.add-phone
              +e('button').add-phone__btn
                +e.add-phone__btn__fon
                  +e('span') +
                +e('span').add-phone__btn__text Add new phone
              button.btn.btn-blue Send
          +b.bottom-right.col-6
            +e('span') Contact list
            +e('textarea')(rows='7' cols='55')
            +e('p') This is required field
